html {
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.cl{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 1rem;
}

