.registration-form {
  width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.form-header {
  padding: 40px 30px 30px 30px;
}

.form-header h1 {
  color: #414848;
  text-shadow: 1px 1px 0 rgb(255 255 255);
  margin-bottom: 10px;
}

.form-header span {
  color: #678889;
  text-shadow: 1px 1px 0 rgb(255 255 255);
}

.form-content {
  padding: 0 30px;
}

.form-content label {
  color: #838a8a;
}

.form-content_input {
  margin: 10px 0;
}

.form-content input {
  width: 100%;
  padding: 10px 15px;
  font-weight: 400;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgb(255 255 255);
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  outline: none;
}

.form-content input:hover {
  background: #ebeff0;
  color: #414848;
}

.form-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-footer button {
  padding: 5px 10px;
  border: 1px solid rgb(184, 196, 194);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.form-footer button:not([disabled]):hover {
  background-color: #c7c7c7;
}

.form-footer button:disabled {
  color: grey;
  opacity: 0.7;
  cursor: default;
}

.form-footer button:active {
  background-color: #b42f32;
  border-color: #1c1c1c #202020 #222;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.09);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.09);
}
